.search-group{
    position: fixed;
    z-index: 999999;
    width: 100%;
    bottom:0;
    right: 0;
    left: 0;
    transform: translateY(calc(100% - 5px));
    display: block;
    @media (max-width: 992px) {
        display: none;
    }
    &.openSearch{
        display: block;
        animation: openSearch .5s forwards;
    }
    @keyframes openSearch {
        0%{
            transform: translateY(calc(100% - 5px));
        }
        100%{
            transform: translateY(0);
        }
    }
    .search-bot-box{
        position: relative;
        border-top: 5px solid $color_7;
        padding: 0;
        flex-flow: column;
        max-width: 1440px;
        margin: 0 auto;
        display: block;
        @media (max-width: 992px) {
            border-top: 10px solid $color_7;
        }
        .search-btn{
            width: 80px;
            height: 50px;
            background: $color_7;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 0;
            top: -50px;
            i{
                display: flex;
                width: 20px;
                height: 20px;
            }
        }
        .search-content{
            background: rgba(255,255,255,.9);
            padding: 40px 80px 10px;
            @media (max-width: 992px) {
                padding: 30px 15px;
            }
            .dw-tabs{
                width: 300px;
                border-bottom:none;
                @media (max-width: 992px) {
                    width: 100%;
                    height: 80px;
                    position: absolute;
                    left: 0;
                    top:-90px;
                }
                .item{
                    background: #fff;
                    @media (max-width: 992px) {
                        height: 80px;
                    }
                }
                .item:hover{
                    background:$color_10;
                }
                .item.active{
                    background: $color_7;
                    @media (max-width: 992px) {
                        height: 80px;
                    }
                }
                .item.search{
                    background: $color_7;
                    width: 100px;
                    min-width: 100px;
                    border-left: 1px solid #fff;
                    display: none;
                    @media (max-width: 992px) {
                        display: flex;
                    }
                }
            }
            .box-article{
                input{
                    margin-right:10px;
                    height: 52px;
                    padding: 0 20px;
                    &::placeholder{
                        font-size: 16px;
                    }
                    @media (max-width: 992px) {
                        margin-right: 0;
                    }
                }
                button{
                    background: $color_7;
                    width: 80px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    border: none;
                    i{
                        display: flex;
                        width: 20px;
                        height: 20px;
                    }
                }
                .keywords{
                    font-size: 16px;
                    color: $color_5;
                    line-height: 24px;
                    a{
                        color: #666;
                    }
                    @media (max-width: 992px) {
                        font-size: 14px;
                    }
                }
            }
            .box-design{
                @extend .box-article;
                .select-wrap{
                    margin-bottom: 30px;
                    @media (max-width: 992px) {
                        margin-right: -10px;
                        margin-bottom: 0px;
                    }
                }
                select{
                    height: 52px;
                    font-size: 16px;
                    padding: 0 10px;
                    border-radius: 0;

                    @media (max-width: 992px) {
                        margin-bottom: 15px;
                        flex: 0 0 calc((100% - 20px)/2);
                    }
                }
            }
        }
    }
}
.mb-mode{ 
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    background:none;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}