.side-btn{
    position: fixed;
    right: calc((100% - 1440px)/2);
    z-index: 99999;
    background: #fff;
    @media (max-width: 1440px) {
        right:0;
    }
    @media (max-width: 992px) {
        display: none;
    }
    .dw-btn-side-2:hover{
        .txt{
            i.icon{
                background: url(../img/btn/icon-2-hover.svg) no-repeat;
                background-size: 100%;
            }
        }
    }
}