@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  background: #000;
  font-family: '微軟正黑體', sans-serif;
}

a {
  text-decoration: none;
  outline: none;
}

img {
  outline: none;
  border: 0 !important;
}

.demo {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.img-wrap img {
  width: 100%;
}

.preload {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  color: #000;
  position: fixed;
  z-index: 9999;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.app {
  position: relative;
  z-index: 999;
  width: 100%;
  overflow: hidden;
}

.notice-arrow {
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  text-align: center;
  left: calc((100% - 30px)/2);
  right: 0%;
  bottom: 3%;
  z-index: 99999;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  text-align: center;
  background: rgba(255, 0, 0, 0.7);
  color: #fff;
}

.notice-arrow img {
  width: 100%;
  -webkit-animation: arrowDown .3s  infinite alternate ease-out;
          animation: arrowDown .3s  infinite alternate ease-out;
}

@-webkit-keyframes arrowDown {
  0% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes arrowDown {
  0% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

.mybtn {
  position: relative;
  border-radius: 5px;
}

.mybtn span.arrow {
  position: absolute;
  width: 100%;
  -webkit-animation: arrow .1s  infinite alternate;
          animation: arrow .1s  infinite alternate;
  top: 0;
  left: 0;
  z-index: 999;
}

.mybtn span.btn-bg {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  overflow: hidden;
}

.mybtn span.btn-bg.bg1 {
  background: url("../images/btn-1.png") no-repeat;
  background-size: auto 100%;
}

.mybtn span.btn-bg.bg2 {
  background: url("../images/btn-2.png") no-repeat;
  background-size: auto 100%;
}

.mybtn span.btn-bg.bg3 {
  background: url("../images/btn-3.png") no-repeat;
  background-size: auto 100%;
}

.mybtn:hover {
  -webkit-animation: btnhover .5s  forwards;
          animation: btnhover .5s  forwards;
}

.mybtn:hover span.btn-bg.bg1 {
  background: url("../images/btn-1-l.png") no-repeat;
  background-size: auto 100%;
}

.mybtn:hover span.btn-bg.bg2 {
  background: url("../images/btn-2-l.png") no-repeat;
  background-size: auto 100%;
}

.mybtn:hover span.btn-bg.bg3 {
  background: url("../images/btn-3-l.png") no-repeat;
  background-size: auto 100%;
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes btnhover {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes btnhover {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.main-container {
  max-width: 1180px;
  margin: 0 auto;
  position: relative;
  z-index: 99999;
}

.main-container .logo {
  position: fixed;
  top: 2vh;
  left: 20px;
  /*
        @media screen and (min-width: 1180px) {
            left: calc((100% - 1180px)/2);
        }
        */
  /* mobile */
}

@media screen and (max-width: 991px) {
  .main-container .logo {
    top: 10px;
    left: 10px;
    width: 25%;
    z-index: 9999;
  }
}

.main-container .logo img {
  width: 100%;
  max-width: 118px;
}

.main-container .close_btn,
.main-container .menu_btn {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  /* mobile */
}

.main-container .close_btn img,
.main-container .menu_btn img {
  width: 100%;
}

@media screen and (max-width: 991px) {
  .main-container .close_btn,
  .main-container .menu_btn {
    display: block;
  }
}

.main-container .menu {
  width: 100px;
  position: fixed;
  right: 20px;
  top: calc((100vh - 120px)/2);
  /*
        @media screen and (min-width: 1180px) {
            right: calc((100% - 1180px)/2);
        }
        */
  /* mobile */
}

@media screen and (max-width: 991px) {
  .main-container .menu {
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    background: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-container .menu.open {
    display: block;
  }
  .main-container .menu.hide {
    display: none;
  }
}

.main-container .menu ul {
  padding: 0;
  margin: 20% 0 0;
  list-style: none;
  /* mobile */
  /*
            li.m1{
                &.active,&:hover{
                    a{
                        color:#666;
                    }
                }
                &:before{
                    background:rgba(233,150,62,1);
                }
            }
            li.m2{
                &.active,&:hover{
                    a{
                        color:rgba(107,206,177,1);
                    }
                }
                &:before{
                    background:rgba(107,206,177,1);
                }
            }
            li.m3{
                &.active,&:hover{
                    a{
                        color:rgba(234,81,71,1);
                    }
                }
                &:before{
                    background:rgba(234,81,71,1);
                }
            }
            li.m4{
                &.active,&:hover{
                    a{
                        color:rgba(175,70,30,1);
                    }
                }
                &:before{
                    background:rgba(175,70,30,1);
                }
            }
            */
}

@media screen and (max-width: 991px) {
  .main-container .menu ul {
    width: 100%;
  }
}

.main-container .menu ul li {
  text-align: right;
  height: 30px;
  line-height: 30px;
  padding: 0 10px 0 0;
  position: relative;
  font-size: 15px;
  margin: 10px 0;
  /* mobile */
}

@media screen and (max-width: 991px) {
  .main-container .menu ul li {
    margin: 0;
    text-align: center;
    padding: 10px;
    font-size: 18px;
  }
}

.main-container .menu ul li a {
  color: #a8a29b;
  display: block;
  margin: 0;
  padding: 0;
  /* mobile */
}

@media screen and (max-width: 991px) {
  .main-container .menu ul li a {
    color: #fff;
  }
}

.main-container .menu ul li.active:before, .main-container .menu ul li:hover:before {
  content: '';
  width: 3px;
  height: 100%;
  position: absolute;
  top: 1px;
  right: 0;
  /* mobile */
}

@media screen and (max-width: 991px) {
  .main-container .menu ul li.active:before, .main-container .menu ul li:hover:before {
    display: none;
  }
}

.main-container .menu ul li.m1.active a, .main-container .menu ul li.m1:hover a,
.main-container .menu ul li.m2.active a,
.main-container .menu ul li.m2:hover a,
.main-container .menu ul li.m3.active a,
.main-container .menu ul li.m3:hover a,
.main-container .menu ul li.m4.active a,
.main-container .menu ul li.m4:hover a {
  color: #ea5147;
}

.main-container .menu ul li.m1:before,
.main-container .menu ul li.m2:before,
.main-container .menu ul li.m3:before,
.main-container .menu ul li.m4:before {
  background: #ea5147;
}

#section-1 .top-box {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background: #f1eeed;
  overflow: hidden;
  /* mobile */
}

@media screen and (max-width: 991px) {
  #section-1 .top-box {
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
  }
}

#section-1 .top-box .container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 8% 0;
  position: relative;
  width: 100%;
}

#section-1 .top-box .container .title {
  width: 32%;
  margin: 0% auto;
  margin-bottom: 3%;
  /* mobile */
}

@media screen and (max-width: 991px) {
  #section-1 .top-box .container .title {
    width: 60%;
    margin-bottom: 4%;
  }
}

#section-1 .top-box .container .title img {
  width: 100%;
  display: block;
  overflow: hidden;
  border: 0;
}

#section-1 .top-box .container .bot-icon {
  width: 50%;
  margin: 0 auto;
  /* mobile */
}

@media screen and (max-width: 991px) {
  #section-1 .top-box .container .bot-icon {
    width: 90%;
  }
}

#section-1 .top-box .container .bot-icon img {
  width: 100%;
  display: block;
  overflow: hidden;
  border: 0;
}

#section-1 .bot-box {
  height: 563px;
  background-size: 100% auto;
  background-position: center top;
  /* mobile */
}

#section-1 .bot-box.ipad {
  background: url("../images/s1-bg-1.jpg") repeat-y #fdfdfd;
  background-size: 100% auto;
  background-position: center top;
}

@media screen and (max-width: 991px) {
  #section-1 .bot-box {
    background: url("../images/s1-bg-m-1.jpg") repeat-y #fdfdfd;
    background-size: 100%;
    background-attachment: fixed;
    height: auto;
    overflow: hidden;
  }
}

#section-1 .bot-box .container {
  max-width: 1180px;
  margin: 0 auto;
  position: relative;
}

#section-1 .bot-box .container .left-box {
  width: 30%;
  height: 563px;
  padding-left: 13%;
  margin-top: -0.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  text-align: left;
  position: relative;
  left: 0;
  float: left;
  /* mobile */
}

#section-1 .bot-box .container .left-box .title {
  width: 100%;
  margin-bottom: 5%;
  overflow: hidden;
  display: block;
}

#section-1 .bot-box .container .left-box .title img {
  width: 100%;
}

#section-1 .bot-box .container .left-box .text-1 {
  margin-bottom: 5%;
}

#section-1 .bot-box .container .left-box .text-1 span {
  display: block;
  font-weight: 200;
  line-height: 30px;
  letter-spacing: 2px;
  font-size: 17px;
}

#section-1 .bot-box .container .left-box .photo-m {
  display: none;
  overflow: hidden;
}

#section-1 .bot-box .container .left-box .text-2 span {
  display: block;
  font-weight: 200;
  line-height: 30px;
  letter-spacing: 2px;
  margin-bottom: 5%;
  font-size: 17px;
}

#section-1 .bot-box .container .left-box .text-2 span br {
  display: none;
}

#section-1 .bot-box .container .left-box .text-2 .community {
  float: left;
  width: 30%;
}

#section-1 .bot-box .container .left-box .text-2 .community a {
  width: calc((100% - 10px)/2);
  overflow: hidden;
  display: block;
  float: left;
}

#section-1 .bot-box .container .left-box .text-2 .community a.fb {
  margin-right: 10px;
}

#section-1 .bot-box .container .left-box .text-2 .community a img {
  width: 100%;
  display: block;
  overflow: hidden;
  border: 0;
}

@media screen and (max-width: 991px) {
  #section-1 .bot-box .container .left-box {
    width: 80%;
    margin: 15% auto 5%;
    padding-left: 10%;
    height: auto;
  }
  #section-1 .bot-box .container .left-box .title {
    width: 100%;
    margin-bottom: 0%;
  }
  #section-1 .bot-box .container .left-box .text-1 {
    margin-bottom: 2%;
  }
  #section-1 .bot-box .container .left-box .text-1 span {
    display: inline-block;
    font-weight: 200;
    line-height: 30px;
    letter-spacing: 2px;
  }
  #section-1 .bot-box .container .left-box .photo-m {
    display: block;
    overflow: hidden;
  }
  #section-1 .bot-box .container .left-box .text-2 {
    margin-bottom: 5%;
  }
  #section-1 .bot-box .container .left-box .text-2 span {
    display: block;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 2px;
    font-size: 13px;
    float: left;
  }
  #section-1 .bot-box .container .left-box .text-2 span br {
    display: block;
  }
  #section-1 .bot-box .container .left-box .text-2 .community {
    float: right;
  }
}

#section-1 .bot-box .container .right-box {
  width: 35%;
  height: 563px;
  padding-right: 18%;
  position: relative;
  float: right;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  text-align: left;
  /* mobile */
}

#section-1 .bot-box .container .right-box .photo {
  width: 100%;
  overflow: hidden;
  display: block;
}

#section-1 .bot-box .container .right-box .photo img {
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  #section-1 .bot-box .container .right-box {
    display: none;
  }
}

#section-2 {
  background: #4a2b6c;
}

#section-2 .container {
  max-width: 1180px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding: 10% 0 15%;
}

#section-2 .container .left-box {
  width: 32%;
  padding-left: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  text-align: left;
  left: 0;
  float: left;
  min-width: 400px;
  height: 100%;
  position: relative;
  z-index: 999;
  /* mobile */
}

#section-2 .container .left-box .game-logo {
  width: 85%;
}

#section-2 .container .left-box .title {
  width: 100%;
  margin-bottom: 12%;
  overflow: hidden;
  display: block;
}

#section-2 .container .left-box .icon-wrap {
  width: 100%;
}

#section-2 .container .left-box .icon-wrap span.txt {
  color: #6bceb1;
  padding-bottom: 5%;
  display: block;
  font-size: 17px;
  letter-spacing: 2px;
}

#section-2 .container .left-box .icon-wrap .game-icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

#section-2 .container .left-box .icon-wrap .game-icons .item {
  width: 24%;
  text-align: center;
  padding: 0 3%;
}

#section-2 .container .left-box .icon-wrap .game-icons .item .icon-txt {
  color: #fff;
}

#section-2 .container .left-box .btn {
  display: block;
  overflow: hidden;
  width: 80%;
  margin-top: 5%;
}

#section-2 .container .left-box .btn img {
  display: block;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  #section-2 .container .left-box {
    width: 90%;
    padding-left: 5%;
    padding-top: 15%;
    padding-bottom: 0%;
    min-width: 0;
    min-height: 0;
  }
  #section-2 .container .left-box .game-logo {
    width: 60%;
    margin: 0 auto;
  }
  #section-2 .container .left-box .title {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 0%;
  }
  #section-2 .container .left-box .icon-wrap span.txt {
    padding-bottom: 5%;
    display: block;
    letter-spacing: 2px;
    text-align: center;
  }
  #section-2 .container .left-box .icon-wrap .game-icons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  #section-2 .container .left-box .icon-wrap .game-icons .item {
    width: 24%;
    text-align: center;
    padding: 0 3%;
  }
  #section-2 .container .left-box .icon-wrap .game-icons .item img {
    width: 70%;
    margin: 0 15%;
  }
  #section-2 .container .left-box .icon-wrap .game-icons .item .icon-txt {
    color: #fff;
  }
  #section-2 .container .left-box .btn {
    width: 60%;
    margin: 5% auto;
  }
  #section-2 .container .left-box .btn img {
    display: block;
    overflow: hidden;
  }
}

#section-2 .container .right-box {
  width: 50%;
  padding-right: 8%;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 95%;
  padding-top: 5%;
  /* mobile */
}

#section-2 .container .right-box .main {
  background: url("../images/s2-main-bg.png") no-repeat;
  background-size: 80%;
  background-position: center 22%;
}

#section-2 .container .right-box .main img {
  width: 100%;
}

@media screen and (max-width: 991px) {
  #section-2 .container .right-box {
    position: relative;
    width: 90%;
    margin: 0 auto 10%;
    padding: 0;
  }
}

#section-3 {
  background-size: 100% auto;
  background-position: center bottom;
  /* mobile */
}

#section-3.ipad {
  background: url("../images/s3-bg-1.jpg") no-repeat #fdfdfd;
  background-size: 100% auto;
  background-position: center bottom;
  /* mobile */
}

@media screen and (max-width: 991px) {
  #section-3.ipad {
    background: url("../images/s1-bg-m-1.jpg") repeat-y !important;
    background-size: 100% !important;
    background-attachment: fixed;
    overflow: hidden;
  }
}

@media screen and (max-width: 991px) {
  #section-3 {
    background: url("../images/s1-bg-m-1.jpg") repeat-y;
    background-size: 100%;
    background-attachment: fixed;
    overflow: hidden;
  }
}

#section-3 .container {
  max-width: 1180px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding: 10% 0 15%;
  /* mobile */
  /* mobile */
}

@media screen and (max-width: 991px) {
  #section-3 .container {
    height: auto;
    min-height: 0;
  }
}

#section-3 .container .left-box {
  width: 32%;
  padding-left: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  text-align: left;
  left: 0;
  float: left;
  min-width: 400px;
  height: 100%;
  /* mobile */
}

#section-3 .container .left-box .logo-14th {
  width: 100%;
  position: relative;
  left: -10%;
}

#section-3 .container .left-box .logo-14th .sprite {
  position: absolute;
  top: 0;
  left: 0;
}

#section-3 .container .left-box .logo-14th .layer {
  opacity: 0;
}

#section-3 .container .left-box .btn {
  display: block;
  overflow: hidden;
  width: 80%;
  margin-top: 8%;
}

#section-3 .container .left-box .btn img {
  display: block;
  overflow: hidden;
  border: 0;
}

@media screen and (max-width: 991px) {
  #section-3 .container .left-box {
    width: 90%;
    padding-left: 5%;
    padding-top: 15%;
    padding-bottom: 5%;
    display: block;
    position: relative;
    min-width: 0;
    height: auto;
  }
  #section-3 .container .left-box .logo-14th {
    width: 80%;
    margin: 0 auto;
    left: 0;
  }
  #section-3 .container .left-box .logo-14th img {
    width: 100%;
  }
  #section-3 .container .left-box .btn {
    width: 60%;
    display: none;
    margin: 0 auto;
  }
}

#section-3 .container .right-box {
  width: 33%;
  padding-right: 13%;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  /* mobile */
}

@media screen and (max-width: 1180px) {
  #section-3 .container .right-box {
    width: 35%;
    padding-right: 10%;
  }
}

#section-3 .container .right-box .title {
  width: 70%;
  margin-bottom: 10%;
  position: relative;
  top: -10%;
  overflow: hidden;
  display: block;
}

#section-3 .container .right-box .text {
  color: #a1656d;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 2px;
  min-width: 390px;
  position: relative;
  top: -10%;
}

@media screen and (max-width: 1180px) {
  #section-3 .container .right-box .text {
    min-width: 0;
  }
}

#section-3 .container .right-box .text span {
  display: block;
}

@media screen and (max-width: 1180px) {
  #section-3 .container .right-box .text span {
    display: initial;
  }
}

#section-3 .container .right-box .btn-m {
  display: none;
  -webkit-box-shadow: 10px 15px 15px 0px rgba(204, 85, 85, 0.2);
          box-shadow: 10px 15px 15px 0px rgba(204, 85, 85, 0.2);
  overflow: hidden;
}

#section-3 .container .right-box .btn-m img {
  display: block;
  overflow: hidden;
  border: 0;
}

@media screen and (max-width: 991px) {
  #section-3 .container .right-box {
    width: 90%;
    margin: 0 auto 20%;
    padding-left: 5%;
    position: relative;
    z-index: 9;
  }
  #section-3 .container .right-box .btn-m {
    display: block;
    width: 60%;
    margin: 0 auto;
  }
  #section-3 .container .right-box .title {
    width: 60%;
    margin-bottom: 0%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 0%;
    overflow: hidden;
    display: block;
  }
  #section-3 .container .right-box .text {
    text-align: center;
    width: 70%;
    margin: 0 auto 2%;
    position: relative;
    top: 0%;
  }
}

#section-3 .container .bot-bg-m {
  display: none;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 0;
}

#section-3 .container .bot-bg-m img {
  width: 100%;
  display: block;
}

@media screen and (max-width: 991px) {
  #section-3 .container .bot-bg-m {
    display: block;
    width: 100%;
  }
  #section-3 .container .bot-bg-m img {
    width: 100%;
  }
}

#section-4 {
  background: none;
  height: 100%;
  min-height: 800px;
  /* mobile */
}

#section-4.ipad {
  background: url("../images/fire.gif") no-repeat #000;
  background-position: bottom;
  background-size: cover;
}

@media screen and (max-width: 991px) {
  #section-4.ipad {
    background: url("../images/fire-m-2.gif") no-repeat #000;
    background-position: bottom;
    background-size: cover;
  }
}

@media screen and (max-width: 991px) {
  #section-4 {
    background: url("../images/fire-m-2.gif") no-repeat #000;
    background-position: bottom;
    background-size: cover;
    height: calc(100vh - 79px);
    min-height: 1000px;
  }
}

@media screen and (max-width: 800px) {
  #section-4 {
    min-height: 900px;
  }
}

@media screen and (max-width: 700px) {
  #section-4 {
    min-height: 800px;
  }
}

@media screen and (max-width: 600px) {
  #section-4 {
    min-height: 700px;
  }
}

@media screen and (max-width: 500px) {
  #section-4 {
    min-height: 600px;
  }
}

@media screen and (max-width: 400px) {
  #section-4 {
    min-height: 500px;
  }
}

#section-4 .container {
  max-width: 1180px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding: 10% 0 15%;
  /* mobile */
}

@media screen and (max-width: 991px) {
  #section-4 .container {
    height: auto;
    min-height: 0;
  }
}

#section-4 .container .left-box {
  width: 32%;
  padding-left: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  text-align: left;
  left: 0;
  float: left;
  min-width: 400px;
  height: 100%;
  position: relative;
  z-index: 99;
  /* mobile */
}

#section-4 .container .left-box .title-1 {
  width: 80%;
  margin-bottom: 2%;
  overflow: hidden;
  display: block;
}

#section-4 .container .left-box .title-2 {
  width: 100%;
  margin-bottom: 8%;
  overflow: hidden;
  display: block;
}

#section-4 .container .left-box .text span {
  color: #a8a29b;
  padding-bottom: 2%;
  display: block;
  font-size: 17px;
  letter-spacing: 2px;
}

#section-4 .container .left-box .btn {
  display: block;
  overflow: hidden;
  width: 80%;
  margin-top: 8%;
}

#section-4 .container .left-box .btn img {
  display: block;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  #section-4 .container .left-box {
    width: 90%;
    padding-left: 5%;
    padding-top: 15%;
    padding-bottom: 0%;
    min-width: 0;
    min-height: 400px;
    text-align: center;
    display: block;
  }
  #section-4 .container .left-box .title-1 {
    width: 60%;
    margin: 0% auto 2%;
  }
  #section-4 .container .left-box .title-2 {
    width: 65%;
    margin: 0% auto 5%;
  }
  #section-4 .container .left-box .text {
    padding-bottom: 5%;
  }
  #section-4 .container .left-box .text span {
    color: #a8a29b;
    padding-bottom: 0%;
    display: block;
    letter-spacing: 2px;
  }
  #section-4 .container .left-box .btn {
    display: block;
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
  }
}

.videobg {
  z-index: -111;
  position: fixed !important;
  bottom: 0;
  left: 0;
  width: 100%;
  /* mobile */
}

.videobg .bgvid {
  width: 100%;
}

@media screen and (max-width: 991px) {
  .videobg {
    display: none;
  }
}

.UNI-footer.dark {
  z-index: 999;
  position: relative;
}

/*
@media screen and (max-width: 1024px) {
    #section-1 .bot-box .container .left-box .text-2 .community{
        width: 20%;
        padding-top: 2%;
        a{
            display: block;
            width: calc((100% - 10px)/2);
            float: left;
            &.fb{
                margin-right: 10px;
            }
            img{
                width: 100%;
            }
        }
    }
    #section-2 .container .left-box .icon-wrap .game-icons .item .icon-txt{
        font-size: 20px;
        line-height: 30px;
    }
    #section-1 .bot-box .container .left-box .text-1 span,
    #section-1 .bot-box .container .left-box .text-2 span,
    #section-2 .container .left-box .icon-wrap span.txt,
    #section-3 .container .right-box .text,
    #section-4 .container .left-box .text span{
        font-size: 30px;
        line-height: 45px;
        padding-top: 2%;
    }
    #section-3 .container .right-box .text{
        padding: 5% 0;
    }
    #section-4 .container .left-box .text span{
        padding-top: 0%;
    }
}
*/
@media screen and (max-width: 991px) {
  #section-1 .bot-box .container .left-box .text-2 .community {
    width: 20%;
    padding-top: 2%;
  }
  #section-1 .bot-box .container .left-box .text-2 .community a {
    display: block;
    width: calc((100% - 10px)/2);
    float: left;
  }
  #section-1 .bot-box .container .left-box .text-2 .community a.fb {
    margin-right: 10px;
  }
  #section-1 .bot-box .container .left-box .text-2 .community a img {
    width: 100%;
  }
  #section-2 .container .left-box .icon-wrap .game-icons .item .icon-txt {
    font-size: 20px;
    line-height: 30px;
  }
  #section-1 .bot-box .container .left-box .text-1 span,
  #section-1 .bot-box .container .left-box .text-2 span,
  #section-2 .container .left-box .icon-wrap span.txt,
  #section-3 .container .right-box .text,
  #section-4 .container .left-box .text span {
    font-size: 25px;
    line-height: 40px;
    padding-top: 2%;
  }
  #section-3 .container .right-box .text {
    padding: 5% 0;
  }
  #section-4 .container .left-box .text span {
    padding-top: 0%;
  }
}

@media screen and (max-width: 767px) {
  #section-1 .bot-box .container .left-box .text-2 .community {
    width: 20%;
    padding-top: 2%;
  }
  #section-1 .bot-box .container .left-box .text-2 .community a {
    display: block;
    width: calc((100% - 10px)/2);
    float: left;
  }
  #section-1 .bot-box .container .left-box .text-2 .community a.fb {
    margin-right: 10px;
  }
  #section-1 .bot-box .container .left-box .text-2 .community a img {
    width: 100%;
  }
  #section-2 .container .left-box .icon-wrap .game-icons .item .icon-txt {
    font-size: 15px;
    line-height: 25px;
  }
  #section-1 .bot-box .container .left-box .text-1 span,
  #section-1 .bot-box .container .left-box .text-2 span,
  #section-2 .container .left-box .icon-wrap span.txt,
  #section-3 .container .right-box .text,
  #section-4 .container .left-box .text span {
    font-size: 20px;
    line-height: 35px;
    padding-top: 2%;
  }
  #section-3 .container .right-box .text {
    padding: 5% 0;
  }
  #section-4 .container .left-box .text span {
    padding-top: 0%;
  }
}

@media screen and (max-width: 548px) {
  #section-1 .bot-box .container .left-box .text-2 .community {
    width: 30%;
    padding-top: 2%;
  }
  #section-1 .bot-box .container .left-box .text-2 .community a {
    display: block;
    width: calc((100% - 10px)/2);
    float: left;
  }
  #section-1 .bot-box .container .left-box .text-2 .community a.fb {
    margin-right: 10px;
  }
  #section-1 .bot-box .container .left-box .text-2 .community a img {
    width: 100%;
  }
  #section-2 .container .left-box .icon-wrap .game-icons .item .icon-txt {
    font-size: 13px;
    line-height: 25px;
  }
  #section-1 .bot-box .container .left-box .text-1 span,
  #section-1 .bot-box .container .left-box .text-2 span,
  #section-2 .container .left-box .icon-wrap span.txt,
  #section-3 .container .right-box .text,
  #section-4 .container .left-box .text span {
    font-size: 15px;
    line-height: 25px;
    padding-top: 2%;
  }
  #section-3 .container .right-box .text {
    padding: 5% 0;
  }
  #section-4 .container .left-box .text span {
    padding-top: 0%;
  }
}

@media screen and (max-width: 320px) {
  #section-1 .bot-box .container .left-box .text-2 .community {
    width: 30%;
    padding-top: 2%;
  }
  #section-1 .bot-box .container .left-box .text-2 .community a {
    display: block;
    width: calc((100% - 10px)/2);
    float: left;
  }
  #section-1 .bot-box .container .left-box .text-2 .community a.fb {
    margin-right: 10px;
  }
  #section-1 .bot-box .container .left-box .text-2 .community a img {
    width: 100%;
  }
  #section-2 .container .left-box .icon-wrap .game-icons .item .icon-txt {
    font-size: 12px;
    line-height: 25px;
  }
  #section-1 .bot-box .container .left-box .text-1 span,
  #section-1 .bot-box .container .left-box .text-2 span,
  #section-2 .container .left-box .icon-wrap span.txt,
  #section-3 .container .right-box .text,
  #section-4 .container .left-box .text span {
    font-size: 13px;
    line-height: 20px;
    padding-top: 2%;
  }
  #section-3 .container .right-box .text {
    padding: 5% 0;
  }
  #section-4 .container .left-box .text span {
    padding-top: 0%;
  }
}
/*# sourceMappingURL=style.css.map */