<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>magazine</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.0/lity.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/magazin.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/myHeader.js"></script>
    <script src="js/sideBtn.js"></script>
    <script src="js/searchBox.js"></script>
    <script src="js/myFooter.js"></script>
</head>
<body>
    <div id="app">
        <my-header></my-header>
        <div class="magazine">
            <side-btn></side-btn>
             <!-- slickPrevbox -->
            <div id="slickPrevbox" class="lity-hide" data-lity>
                <img src="img/magaz/slick-1.jpg">
            </div>
            <section class="sec1">
                <div class="container-1440">
                    <!-- top banner -->
                    <div class="top-banner">
                        <div class="img">
                            <img class="blur" src="img/detail/top-banner.jpg" />
                        </div>
                        <div class="title">
                            <span class="main">NO.124 - 2019秋冬全球設計展眺望</span>
                            <span class="sub-title">設計雜誌 / Living&Design</span>
                        </div>
                    </div>
                </div>
    
                <div class="container-1280 row no-gutters">
                    
                    <div class="box box-l col-lg-8">
                        <!-- slick box -->
                        <div class="slick-wrap">
                            <!-- slick -->
                            <div class="slick">
                                <a class="item" href="#slickPrevbox" data-lity><img src="img/magaz/slick-1.jpg"></a>
                                <a class="item" href="#slickPrevbox" data-lity><img src="img/magaz/slick-1.jpg"></a>
                                <a class="item" href="#slickPrevbox" data-lity><img src="img/magaz/slick-1.jpg"></a>
                                <a class="item" href="#slickPrevbox" data-lity><img src="img/magaz/slick-1.jpg"></a>
                                <a class="item" href="#slickPrevbox" data-lity><img src="img/magaz/slick-1.jpg"></a>
                                <a class="item" href="#slickPrevbox" data-lity><img src="img/magaz/slick-1.jpg"></a>
                            </div>
                            <!-- slick preview -->
                            <div class="slick-preview">
                                <a class="item"><img src="img/magaz/slick-preview-1.jpg"></a>
                                <a class="item"><img src="img/magaz/slick-preview-1.jpg"></a>
                                <a class="item"><img src="img/magaz/slick-preview-1.jpg"></a>
                                <a class="item"><img src="img/magaz/slick-preview-1.jpg"></a>
                                <a class="item"><img src="img/magaz/slick-preview-1.jpg"></a>
                                <a class="item"><img src="img/magaz/slick-preview-1.jpg"></a>
                            </div>
                            <!-- buttons -->
                            <div class="buy-button">
                                <div class="price-btn"><span>$148元</span>$141元</div>
                                <a class="buy-btn">buy</a>
                            </div>
                        </div>
                        <!--discript-->
                        <div class="discript">
                            <div class="title">凝視慾望之藝</div>
                            <div class="content">
                                每年的10月份，全球都在引領矚目期盼著，一年一度的諾貝爾獎頒獎典禮花落誰家。
                                每位入圍者都是各領域的傑出佼佼者，在其領域中都有舉足輕重的地位，今年的諾貝爾文學獎頒給了波蘭籍的奧爾嘉．
                                朵卡萩（Olga Tokarczuk）和奧地利籍的彼得．漢德克（Peter Handke）。其中，充滿道德爭議的奧地利的漢德克，
                                則是在眾多的驚呼聲中奪獎；在他獲獎名單一公布之後，不出所料再度掀起作品與作者本人道德之間的微妙平衡感，
                                特別是他在人性道德與戰爭屠殺之間的立場，很難讓人不得不拿起放大鏡端詳作者內心的真實面，究竟該如何取捨則端看讀者與作者如何自己拿捏度量衡。
                                浪漫的秋天，不僅僅只是季節氣候環境開始交替的時刻，人們的心情似乎也受到環境情境氛圍的感染，對於所有的感知顯得更為敏銳細膩。
                                每年在這個季節，世界各地的設計周、藝術展、拍賣會如火如荼地舉辦著，若是放大拉遠角度來看散落於世界各地的秋季藝術設計展，
                                就像是此起彼落的接續火炬，一站又一站以藝術美學點亮秋天的世界角落。本期封面故事聚焦於巴黎時尚家居設計展、倫敦設計節、
                                台灣設計展和半島藝術迴響全球巡迴展，在人類文明的設計美術活動中，透過藝術家和設計師另類角度眼光的凝視下，
                                浸泳徜徉在每件作品獨一無二的精神意念中。
                            </div>
                        </div>
                        <!-- tags -->
                        <div class="tags">
                            <div class="wrap">
                                <span class="label">雜誌標籤</span>
                                <span ><a href="">小坪數</a></span>
                                <span ><a href="">住宅公寓</a></span>
                                <span ><a href="">Living住宅美學</a></span>
                                <span ><a href="">住宅公寓</a></span>
                                <span ><a href="">Living住宅美學</a></span>
                            </div>
                            <div class="wrap">
                                <a class="btn"><i class="icon-fb"></i></a>
                                <a class="btn"><i class="icon-li"></i></a>
                            </div>
                        </div>
                        <!-- item wraps -->
                        <div class="item-wrap">
                            <div class="main-title">COVER STORY 封面故事</div>
                            <ul class="item-list">
                                <li class="item">
                                    <a href="" class="">
                                        <div class="img"><img src="img/magaz/item-1.jpg"></div>
                                        <div class="date"><i class="icon-calender"></i>2019.11.01</div>
                                        <div class="title">巴黎設計週＋巴黎時...</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
    
                        <div class="item-wrap border-top">
                            <div class="main-title">ISSUE 話題</div>
                            <ul class="item-list">
                                <li class="item" v-for="(item,index) in 2" :key="index">
                                    <a href="" class="">
                                        <div class="img"><img src="img/magaz/item-1.jpg"></div>
                                        <div class="date"><i class="icon-calender"></i>2019.11.01</div>
                                        <div class="title">巴黎設計週＋巴黎時...</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
    
                        <div class="item-wrap border-top">
                            <div class="main-title">INTERIORS 設計案</div>
                            <ul class="item-list">
                                <li class="item" v-for="(item,index) in 6" :key="index">
                                    <a href="" class="">
                                        <div class="img"><img src="img/magaz/item-1.jpg"></div>
                                        <div class="date"><i class="icon-calender"></i>2019.11.01</div>
                                        <div class="title">巴黎設計週＋巴黎時...</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
    
                        <div class="item-wrap border-top">
                            <div class="main-title">OTHER NEWS 豐富新聞</div>
                            <ul class="item-list">
                                <li class="item">
                                    <a href="" class="">
                                        <div class="img"><img src="img/magaz/item-1.jpg"></div>
                                        <div class="date"><i class="icon-calender"></i>2019.11.01</div>
                                        <div class="title">巴黎設計週＋巴黎時...</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
    
                    <div class="box box-r col-lg-4">
                        <!-- 雜誌類別 -->
                        <div class="box-wrap">
                            <div class="main-title"> - 雜誌類別 - </div>
                            <div class="content">
                                <div class="item">
                                    <span>Living ＆ Design</span>
                                    <span>(87)</span>
                                </div> 
                                <div class="item">
                                    <span>CORE</span>
                                    <span>(66)</span>
                                </div> 
                                <div class="item">
                                    <span>特刊</span>
                                    <span>(30)</span>
                                </div> 
                            </div>
                        </div>
                        <!-- 推薦雜誌 -->
                        <div class="box-wrap">
                            <div class="main-title"> - 推薦雜誌 - </div>
                            <div class="item-list">
                                <div class="item" v-for="(item,index) in 5" :key="index">
                                    <div class="img"><img src="img/magaz/magaz-1.jpg"></div>
                                    <div class="title">NO.123 - 典藏秋色巧思收納術</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 想找  專屬設計師 PC -->
                <div class="container-1440 bot-btns d-none d-lg-block">
                    <div class="row no-gutters justify-content-center d-none d-lg-flex pc-mode">
                        <!-- 想找  專屬設計師 -->
                        <a href class="col-md dw-btn-lg-1">
                            <span class="icon icon-btn-icon-1"></span>
                            <span class="txt">想找 專屬設計師</span>
                        </a>
            
                        <!-- 想找  專屬設計師 -->
                        <a href class="col-md dw-btn-lg-2">
                            <span class="icon icon-btn-icon-2"></span>
                            <span class="txt">想找 家俱/用品/好東西？</span>
                        </a>
                    </div>
                </div>

                <!-- 想找  專屬設計師 MB -->
                <div class="bot-btns-m dw-bottom-btn d-lg-none d-flex">
                    <a href class="dw-btn-side-1 col">
                        <span class="txt">
                            <i class="icon icon-btn-icon-1"></i> 找設計師
                        </span>
                    </a>
    
                    <a href class="dw-btn-side-2 col">
                        <span class="txt">
                            <i class="icon icon-btn-icon-2"></i> 嚴選名品
                        </span>
                    </a>
                    <a  class="dw-btn-side-3" @click="openSearch">
                        <i class="icon icon-search"></i>
                    </a>            
                </div>
            </section>
        </div>
        <!--search box-->
        <search-box ref="searchBox"></search-box>
        <my-footer></my-footer>
        
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.0/lity.min.js"></script>
    
    <script>
        //vue
        var app = new Vue({
            el:"#app",
            methods: {
                openSearch(){
                    var searchbox = this.$refs.searchBox;
                    searchbox.openSearch();
                }
            },
        });
    </script>

    <script>
        $(function(){
            $('.slick').slick({
                slidesToShow: 1,
                arrows: true,
                autoplay: true,
                autoplaySpeed: 3000,
            });

            $('.slick-preview').slick({
                slidesToShow: 7,
                slidesToScroll: 1,
                arrows: false,
                autoplay: false,
                autoplaySpeed: 3000,
                asNavFor: '.slick',
                focusOnSelect: true,
                responsive: [
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 4,
                            slidesToScroll: 1,
                            arrow: false,
                            focusOnSelect: true
                        }
                    }
                ]
            });
        });
    </script>
</body>
</html>